.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 5px; 
  font-size: 1rem;
}

.precio-original {
  text-decoration: line-through;
  color: hsl(0, 0%, 53%);
  font-size: 14px;
  margin-right: 10px;
}

.precio-descuento {
  font-weight: bold;
  font-size: 18px;
  color: #060706c2;
}

.card-body {
  text-align: center;
}

