<div class="card h-100 shadow-sm">
  <div *ngIf="mostrarTitulo" class="card-header bg-dark text-white text-center">
    <h5 class="card-title m-0">{{ titulo }}</h5>
  </div>

  <img [src]="imagen" alt="{{ titulo }}" class="card-img-top" />

  <!-- Contenido del cuerpo de la tarjeta -->
  <div class="card-body d-flex flex-column">
    <p *ngIf="descripcion" class="card-text text-center">{{ descripcion }}</p>
    <!-- Mostrar precios con o sin descuento -->
    <p *ngIf="mostrarPrecio" class="card-text text-center">
      <span *ngIf="descuento" class="precio-original">
        S/ {{ precioOriginal | number: '1.2-2' }}
      </span>
      <span class="precio-descuento">
        S/ {{ precioConDescuento | number: '1.2-2' }}
      </span>
    </p>

    <!-- Controles de cantidad -->
    <div
      *ngIf="mostrarControlesCarrito"
      class="cantidad-controles d-flex justify-content-center align-items-center mb-3"
    >
      <button (click)="decrementar()" class="btn btn-success btn-sm mx-2">-</button>
      <span class="cantidad mx-3">{{ cantidad }}</span>
      <button (click)="incrementar()" class="btn btn-success btn-sm mx-2">+</button>
    </div>

    <!-- Botón de agregar al carrito -->
    <button
      *ngIf="mostrarBotonCarrito"
      (click)="agregar()"
      class="btn btn-success btn-agregar w-100"
    >
      Agregar al carrito
    </button>
  </div>
</div>
